bin/*                 linguist-vendored
dist/*                linguist-vendored
/cli.js               linguist-vendored
.github/*             linguist-vendored
script/*              linguist-vendored
/icns2png.py          linguist-vendored
/rollup.config.js     linguist-vendored
src-tauri/src/pake.js linguist-vendored
