src-tauri/target
node_modules
dist/**/*
*.ico
*.icns
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.bin
*.exe
*.dll
*.so
*.dylib
Cargo.lock
src-tauri/Cargo.lock
pnpm-lock.yaml
cli.js
*.desktop
*.wxs
*.plist
*.toml
.github/workflows/
