[Desktop Entry]
Encoding=UTF-8
Categories=Office
Exec=com-pake-weekly
Icon=com-pake-weekly
Name=com-pake-weekly
Name[zh_CN]=潮流周刊
StartupNotify=true
Terminal=false
Type=Application
