[Desktop Entry]
Encoding=UTF-8
Categories=Office
Exec=com-tw93-weread
Icon=com-tw93-weread
Name=com-tw93-weread
Name[zh_CN]=微信阅读
StartupNotify=true
Terminal=false
Type=Application
