[Desktop Entry]
Encoding=UTF-8
Categories=Office
Exec=com-pake-goviewpro
Icon=com-pake-goviewpro
Name=com-pake-goviewpro
Name[zh_CN]=goviewpro
StartupNotify=true
Terminal=false
Type=Application
