[Desktop Entry]
Encoding=UTF-8
Categories=Office
Exec=weread
Icon=weread
Name=weread
Name[zh_CN]=微信阅读
StartupNotify=true
Terminal=false
Type=Application
